---
---

@import "{{ site.theme }}";

$pinkColor: #ca83a0;
$blueColor: #3A7CBE;
$greenColor: #0b9605;
$redColor: #b10909;
$yellowColor: #9a9a10;
$orangeColor: orange;

@mixin bgColor($color) {
    background-color: $color;
}
@mixin color($color) {
    color: $color;
}

//text
.font-bold {
    font-weight: bold;
}

.bg-color-pink {
    @include bgColor($pinkColor);
    //background-color: #ca83a0;
}
.bg-color-blue {
    @include bgColor($blueColor);
    //background-color: #3A7CBE;
}
.bg-color-green {
    @include bgColor($greenColor);
    //background-color: #0b9605;
}
.bg-color-red {
    @include bgColor($redColor);
    //background-color: #b10909;
}
.bg-color-yellow {
    @include bgColor($yellowColor);
    //background-color: #9a9a10;
}
.bg-color-orange {
    @include bgColor($orangeColor);
    //background-color: orange;
}
.bg-pink {
    @extend .bg-color-pink;
}
.bg-blue {
    @extend .bg-color-blue;
}
.bg-green {
    @extend .bg-color-green;
}
.bg-red {
    @extend .bg-color-red;
}
.bg-green {
    @extend .bg-color-green;
}
.bg-yellow {
    @extend .bg-color-yellow;
}
.bg-orange {
    @extend .bg-color-orange;
}

.color-pink {
    @include color($pinkColor);
    //color: #ca83a0;
}
.color-blue {
    @include color($blueColor);
    //color: #3A7CBE;
}
.color-green {
    @include color($greenColor);
    //color: #0b9605;
}
.color-red {
    @include color($redColor);
    //color: #b10909;
}
.color-yellow {
    @include color($yellowColor);
    //color: #9a9a10;
}
.color-orange {
    @include color($orangeColor);
    //color: orange;
}
.pink {
    @extend .color-pink;
}
.blue {
    @extend .color-blue;
}
.green {
    @extend .color-green;
}
.red {
    @extend .color-red;
}


.pink-b {
    @extend .color-pink;
    @extend .font-bold;
}
.blue-b {
    @extend .color-blue;
    @extend .font-bold;
}
.green-b {
    @extend .color-green;
    @extend .font-bold;
}
.red-b {
    @extend .color-red;
    @extend .font-bold;
}
.yellow-b {
    @extend .color-yellow;
    @extend .font-bold;
}
.orange-b {
    @extend .color-orange;
    @extend .font-bold;
}

.prep {
    @extend .pink-b;
}
.prep-title {
    @extend .bg-color-pink;
}
.v {
    @extend .blue-b;
}
.v-title {
    @extend .bg-color-blue;
}
.n {
    @extend .green-b;
}
.n-title {
    @extend .bg-color-green;
}
.adj {
    @extend .orange-b;
}
.adj-title {
    @extend .bg-color-orange;
}
.adv {
    @extend .yellow-b;
}

.unit {
    @extend .n;
}

// nav
nav ul{
    // font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    // font-weight: bold;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
