---
---

@import "{{ site.theme }}";

/* text */
.font-bold {
    font-weight: bold;
}

.bg-color-pink {
    background-color: #ca83a0;
}
.bg-color-blue {
    background-color: #3A7CBE;
}
.bg-color-green {
    background-color: #0b9605;
}
.bg-color-red {
    background-color: #b10909;
}
.bg-color-yellow {
    background-color: #9a9a10;
}
.bg-color-orange {
    background-color: orange;
}

.color-pink {
    color: #ca83a0;
}
.color-blue {
    color: #3A7CBE;
}
.color-green {
    color: #0b9605;
}
.color-red {
    color: #b10909;
}
.color-yellow {
    color: #9a9a10;
}
.color-orange {
    color: orange;
}

/* nav */
nav ul{
    /* font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
    padding: 0px;
    list-style: none;
    /* font-weight: bold; */
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
