---
---

@import "{{ site.theme }}";

.font-bold {
    font-weight: bolder;
}

.bg-color-pink {
    background-color: #ca83a0;
}
.bg-color-blue {
    background-color: #3A7CBE;
}

.color-pink {
    color: #ca83a0;
}
.color-blue {
    color: #3A7CBE;
}
